*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navBar{
    width: 100vw;
    min-height: 70px;
    background: linear-gradient(15deg, #0ee6dd 0.000%, #43dddf 11.111%, #54d0e2 22.222%, #35c2e4 33.333%, #00b2e7 44.444%, #00a0e9 55.556%, #008eec 66.667%, #007bee 77.778%, #2669f0 88.889%, #5057f3 100.000%);
}

#heading{
    display: flex;
    font-size: 25px;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
}

#navitems{
    width: 100vw;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 25px;
}